.box{
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
  background-color: rgba(14, 129, 129, 0.61);
  display: flex;
  justify-content: space-around;
  align-items: center;
}